<h1>Default styles</h1>

<%# Los browsers ya tienen  estilos definidos para estilos predeterminados, como <h1>, hacen esto aplicando CSS

PERO no hay garantía de que los diferentes servidores vayan a estilizar de una manera igual todo lo que ya está por default. %>

<P>"CSS Reset" es un file para revertir todos los estilos predeterminados, ya hay plantillas para esto, como el Meyer reset (ver código)</P>

<%# En un archivo CSS: %>

<%# /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} %>

<p>Sitio con los estilos predeterminados de cada etiqueta HTML: https://browserdefaultstyles.com/</p>
