<h1>Default styles</h1>

Los browsers ya tienen  estilos definidos para estilos predeterminados, como <h1>, hacen esto aplicando CSS

PERO no hay garantía de que los diferentes servidores vayan a estilizar de una manera igual todo lo que ya está por default.

<P>"CSS Reset" es un file para revertir todos los estilos predeterminados, ya hay plantillas para esto, como el Meyer reset (ver código)</P>

En un archivo CSS:
