<h1>SVG</h1>

<%# SVG: “Scalable Vector Graphics”. Imágenes escalables que no comprometen su calidad. Se pueden cambiar sus propiedades mediante CSS y JS %>
<%# No usa grid, sino fórmulas para diferentes formas. SVG usa código XML: %>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <rect x=0 y=0 width=100 height=50 />
    <circle class="svg-circle" cx="50" cy="50" r="10"/>
</svg>

<%# Hay que usar SVG cuando NO vamos a tener imágenenes muy detalladas (como con textura o que se deban ver muy realistas) %>
<%# Figma y ADOBE crean imágenes SVG %>

<%# Ejemplo SVG (al que le agregamos CSS) %>

<div class="container">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <rect x=0 y=0 width=100 height=100 fill="burlywood"/>
    <path d="M 10 10 H 90 V 90 L 10 60" fill="transparent" stroke="black" stroke-width="3"/>
  <circle cx=50 cy=50 r=20 class="svg-circle"/>
    <g class="svg-text-group">
      <text x="20" y="25" rotate="10" id="hello-text">Hello!</text>
      <use href="#hello-text" x="-10" y="65" fill="white"/>
    </g>
</svg>
</div>

<%# Desgloce: %>

<ul>
  <li>xmlns: Especifica qué dialecto estás usando, en este caso SVG</li>
  <li>viewBox: Define los límites del SVG. Cosas como la posición de diferentes elementos, el aspect ratio (proporción respecto a la relación de aspecto), el originen del SVG</li>
  <li>class, id: Targetear un elemento para usarse en CSS o JS</li>
  <li>eircle, rect, path, text: son elementos que ya están deifinidos por SVG. Elementos básicos para crear imágenes muy complejas</li>
  <li>fill, stroke: Son atributos que se pueden cambiar en el CSS</li>
</ul>

<%# Experimentación: %>


