<h1>Tables</h1>

<%# Ejercicio para hacer una tabla en HTML %>

<table>
  <tr>
    <th>Encabezado 1</th>
    <th>Encabezado 2</th>
  </tr>
  <tr>
    <th>Contenido 1</th>
    <th>Contenido 2</th>
  </tr>
</table>

<%# Las tablas siempre deben ir en una etiqueta <table>
Las columnas se definen con <tr>
las filas dentro de esas columnas se definen con <th> %>
<br>
También se les puede agregar estilo css:

<table class="wstyle">
  <tr class="wstyle">
    <th class="wstyle">Encabezado 1</th>
    <th class="wstyle">Encabezado 2</th>
  </tr>
  <tr class="wstyle">
    <th class="wstyle">Contenido 1</th>
    <th class="wstyle">Contenido 2</th>
  </tr>
</table>
