<h1>More Text Styles</h1>

<p><strong>Es recomendable NO USAR GOOGLE FONTS por que violan la seguridad del usuario, la alternativa es DESCARGAR LA FUENTE y luego usarla dentro del archivo HTML.</strong></p>
<p>https://www.cookieyes.com/documentation/features/integrations/google-fonts-and-gdpr/</p>
