<h1>CSS Units</h1>

<h4>Diferencia entre Unidades absolutas y relativas:</h4>

<p>Absolutas: siempre son las mismas en cualquier contexto. El tamaño del pixel no cambia</p>
<p><strong>px es la única unidad absoluta que debería de usarse</strong></p>

<br>

<p>Relativas: unidades que pueden cambiar dependiendo del contexto</p>

<p>Un ejemplo son em y rem</p>
<p>1em = es el tamaño del elemento padre, que puede ser, por ejemplo, 16px, por lo que si utilizamos "4em", nos dará un total de 64px</p>

<br>
<p>rem es el font-size del elemento raíz.</p>

<p><strong>Lo recomendable es usar rem</strong> ya que los browsers modifican el tamaño de manera automática</p>

<h3>vh & vw</h3>

<p>Es relativo al tamaño del viewport</p>
<p>Ej: 1vh == 1% de la altura de la pantalla</p>

